{% extends 'bootstrap/base.html' %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
          integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
          crossorigin="anonymous" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <script src="https://kit.fontawesome.com/d8eba526f2.js" crossorigin="anonymous"></script>
{% endblock %}

{% block title %}Cafes in the town{% endblock %}

{% block content %}
<div class="container">
  <h1 class="heading">Coffee Places in Bratislava</h1>
  <p class="description">This is where you get the best cup of coffee.</p>

  <div class="container text-right add">
    <a id="link" href="{{ url_for('add_cafe') }}" class="button">Add Cafe</a>
  </div>

<div class="row row-cols-1 row-cols-md-3 g-4">
{% for cafe in cafes %}
  <div class="card">
      <div class="front" style="background-image: url('{{cafe.img_url}}');">
          <p class="large">{{ cafe.name }}</p>
      </div>
    <div class="back">
      <div>
        <div class="rating">
          {% if cafe.rating==5: %}
          <i class="fas fa-star star"></i><i class="fas fa-star star"></i><i class="fas fa-star star"></i><i class="fas fa-star star"></i><i class="fas fa-star star"></i>
          {% endif %}
          {% if cafe.rating==4: %}
          <i class="fas fa-star star"></i><i class="fas fa-star star"></i><i class="fas fa-star star"></i><i class="fas fa-star star"></i><i class="fa-regular fa-star star"></i>
          {% endif %}
          {% if cafe.rating==3: %}
          <i class="fas fa-star star"></i><i class="fas fa-star star"></i><i class="fas fa-star star"></i><i class="fa-regular fa-star star"></i><i class="fa-regular fa-star star"></i>
          {% endif %}
          {% if cafe.rating==2: %}
          <i class="fas fa-star star"></i><i class="fas fa-star star"></i><i class="fa-regular fa-star star"></i><i class="fa-regular fa-star star"></i><i class="fa-regular fa-star star"></i>
          {% endif %}
          {% if cafe.rating==1: %}
          <i class="fas fa-star star"></i><i class="fa-regular fa-star star"></i><i class="fa-regular fa-star star"></i><i class="fa-regular fa-star star"></i><i class="fa-regular fa-star star"></i>
          {% endif %}
          {% if cafe.rating==0: %}
          <i class="fa-regular fa-star star"></i><i class="fa-regular fa-star star"></i><i class="fa-regular fa-star star"></i><i class="fa-regular fa-star star"></i><i class="fa-regular fa-star star"></i>
          {% endif %}
        </div>
        <div class="title">{{cafe.name}}</div>
          <a class="loc" href={{cafe.map_url}}>{{cafe.location}}</a>
          <div class="ikony">
            <p class="ikona"><i class="fa-sharp fa-solid fa-mug-hot"></i>   {{cafe.coffee_price}}</p>
            <p class="ikona"><i class="fa-sharp fa-solid fa-chair"></i>    {{cafe.seats}}</p>
          </div>
        <div>
        {% if cafe.has_wifi: %}
          <p class="ikona"><i class="fa-solid fa-wifi"></i></p>
        {% endif %}
        {% if cafe.has_sockets: %}
          <p class="ikona"><i class="fa-sharp fa-solid fa-plug"></i></p>
        {% endif %}
        {% if cafe.loud_music: %}
          <p class="ikona"><i class="fa-solid fa-music"></i></p>
        {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endfor %}
</div>
</div>
<br>
<br>
{% endblock %}


